{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>INDEX</title>
</head>
<body>

<hr>
<h1>Current: {{ LANGUAGE_CODE }}</h1>
<form action="{% url 'set_language' %}" method="post">
{% csrf_token %}
<input name="next" type="hidden" value="{{ redirect_to }}" />
<select name="language">
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
    {{ language.name_local }} ({{ language.code }})
</option>
{% endfor %}
</select>
<input type="submit" value="Go" />
</form>
<hr>

<h1>Padrão</h1>
{{ conteudo.titulo }}<br>
{{ conteudo.texto }}<br><hr>

<h1>PTBR</h1>
{{ conteudo.titulo_pt_br }}<br>
{{ conteudo.texto_pt_br }}<br><hr>

<h1>EN</h1>
{{ conteudo.titulo_en }}<br>
{{ conteudo.texto_en }}<br><hr>

<h1>ES</h1>
{{ conteudo.titulo_es }}<br>
{{ conteudo.texto_en }}<br><hr>

</body>
</html>